.fixed-button{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.fixed-button button {
    
    background: #fbca1f;
    padding: 0.6em 1.3em;
    font-weight: 400;
    font-size: 1.2rem;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    margin-right: 50px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;

  }
  
#more-note{

    background-color: rgb(153, 145, 145);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
#more-note.active-note{
    visibility: visible !important;
    opacity: 1;
    transition: 0.2s;
}

.hidden{
    visibility: hidden !important;
}

.button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }

  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }