.nav-title-content{
    margin : 0 auto;
    padding: 15px;
}
.nav-title{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size:2.6rem;
}

header{
    display: flex;
    height: auto;
    background-color: #FCD59A ;
}