.note-content{
    border-radius:20px ;
    margin-top: 100px;
    background:url(https://media.istockphoto.com/id/1414387471/vector/simple-flat-pixel-art-illustration-of-cartoon-outdoor-landscape-background-pixel-arcade.jpg?s=612x612&w=0&k=20&c=ddkEw1uAjypuHH-wVtvawXm7cbUwhN6n7DOzVOwb1cE=);
    background-position: center;
    background-size: contain;
}

.note-logo{
    left: -35px;
}
.crud-function{
    display: flex;
    justify-content: flex-end;
}
.crud-function span{
    margin-left: 10px;
}

.note-logo{
    position: relative;
    padding : 0px !important;
    margin: 0px !important;
}

.note-container{
    display: flex;
    flex-direction: column;
    padding: 3rem !important;
    max-width: 540px;
    margin: auto;
}

.note-logo{
    display: flex;
}

.note-title{
    text-overflow:ellipsis !important;
}
